mainmenu "AlexanderARodin meta-configurator for custom Linux Kernel"

source "submenu/Kconfig.000-overview"

source "submenu/Kconfig.100-minLoadable"
source "submenu/Kconfig.200-minUseful"

source "submenu/Kconfig.250-StdRec"

source "submenu/Kconfig.300-EFI"
source "submenu/Kconfig.400-BlockAndFS"

comment "| OPTIONs |"
#source "submenu/Kconfig.500-VGUEST-common"
source "submenu/Kconfig.501-VGUEST-microvm"

comment "| PHYSICAL |"
source "submenu/Kconfig.600-SamsungAtom"


comment "| COMPILER etc |"
config WERROR
	bool "Compile the kernel with warnings as errors"
	default y
config KALLSYMS
	bool "Size but symbolic crash info"
	default y
config SYMBOLIC_ERRNAME
	bool "Symbolic error names in printf"
	default y
config JUMP_LABEL
	bool "Optimize very [un]likely branches (why not?)"
	default y
config SECCOMP
	bool "to safely exec untrusted bytcode"
	default y
config STACKPROTECTOR
	bool "STACKPROTECTOR"
	default y
config LOCALVERSION_AUTO
	bool "LOCALVERSION_AUTO"
	default n

comment "| DEBUG etc |"
config EARLY_PRINTK
	bool "early PRINTK (prob Y)"
	default y
config PANIC_ON_OOPS
	bool "test with more attention for data corruption"
	default n
config PANIC_TIMEOUT;
	int "timeout to reload after crush"
	default 15
