menu "minimal"

config PROC_FS
	bool "PROC_FS"
	default y
config SYSFS
	bool "SYSFS"
	default y

config DEVTMPFS
	bool "DEVTMPFS"
	default y
config DEVTMPFS_MOUNT
	bool "DEVTMPFS_MOUNT"
	default y
	depends on DEVTMPFS

comment "others"
	config BUG
		bool "BUG"
		default y

	config SERIO_SERPORT
		def_tristate m
		prompt "SERIO_SERPORT"
	config HID
		def_tristate m
		prompt "HID"


endmenu
