menu "critical"

comment "kernel should speak"
	config PRINTK
		bool "PRINTK"
		default y
	config PRINTK_TIME
		bool "PRINTK_TIME"
		default y
	
	config TTY
		bool "TTY"
		default y
	if TTY
		config UNIX98_PTYS
			bool "UNIX98_PTYS"
		config LEGACY_PTYS
			bool "LEGACY_PTYS"
	endif

comment "ramdisk running"
config BLK_DEV_INITRD
	bool "support initrd"
	default y

comment "kernel should execute"
config BINFMT_ELF
	bool "run ELF"
	default y
config BINFMT_SCRIPT
	bool "run scripts '#!' like init"
	default y

endmenu
