menu "VM guesting"

comment "[ guesting itself ]"
config HYPERVISOR_GUEST
	bool "Running as Guest under Hypervisor"
	default n
	config PARAVIRT
		bool "PARAVIRT: recommended (?)"
		default y
		depends on HYPERVISOR_GUEST

comment "[ guesting drivers ]"
config VIRTIO_MENU
	bool "VIRTIO_MENU: just opens menu"
	default y
config VIRTIO_MMIO
	tristate "memory mapped VIRTIO"
	default n
config VIRTIO_INPUT
	tristate "VIRTIO keyboards, mice & tablets"
	default n

endmenu
