menu "COMMON: critical"

comment "[ kernel should speak ]"
	config PRINTK
		bool "PRINTK"
		default y
	config PRINTK_TIME
		bool "PRINTK_TIME"
		default y
		depends on PRINTK
	
	config TTY
		bool "TTY"
		default y
	if TTY
		config UNIX98_PTYS
			bool "UNIX98_PTYS"
		config LEGACY_PTYS
			bool "LEGACY_PTYS"
	endif

config BLK_DEV_INITRD
	bool "support INITRD"
	default y

config BINFMT_ELF
	bool "Kernel support for ELF binaries"
	default y
config BINFMT_SCRIPT
	bool "Kernel support for scripts starting with #!"
	default y

endmenu
