
config FOR_QEMU_GROUP
	bool "for QEMU"
	
if FOR_QEMU_GROUP
	menu "minimal"
		source "./list/qemu/Kconfig.510-minQEMU"
	endmenu
	menu "recommended"
		source "./list/qemu/Kconfig.520-midQEMU"
	endmenu
endif
