menu "COMMON: usable"

config PROC_FS
	bool "/proc file system support"
	default y
config SYSFS
	bool "sysfs file system support"
	default y

config DEVTMPFS
	bool "Maintain a devtmpfs filesystem to mount at /dev"
	default y
config DEVTMPFS_MOUNT
	bool "Automount devtmpfs at /dev, after the kernel mounted the rootfs"
	default y
	depends on DEVTMPFS
config DEVTMPFS_SAFE
	bool "auto nosquid etc for mountin devtmpfs at /dev (may break non-KVS)"
	default y
	depends on DEVTMPFS

config SHMEM
	bool "backend for SWAP and TmpFS (maybe N for microvm)"
	default y

comment "| others |"
	config MULTIUSER
		bool "Enable uid and gid supports not 0 (root) value"
		default y
	config POSIX_TIMERS
		bool "POSIX_TIMERS (for ping etc)"
		default y
	config FUTEX
		bool "FUTEX (for lshw)"
		default y

config IA32_EMULATION
	bool "Y for for 32bit bin or Wine"
	default n
	depends on 64BIT

config SERIO_SERPORT
	tristate "Serial port line discipline (?)"
	default n
config HID
	tristate "HID bus support"
	default n



endmenu
