
menu "NEXXX"
	config HW_RANDOM
		tristate "HW_RANDOM"
		default y
	if HW_RANDOM
		config HW_RANDOM_VIRTIO
			tristate "HW_RANDOM_VIRTIO"
			default y
		config HW_RANDOM_INTEL
			tristate "HW_RANDOM_INTEL"
			default n
		config HW_RANDOM_AMD
			tristate "HW_RANDOM_AMD"
			default n
		config HW_RANDOM_VIA
			tristate "HW_RANDOM_VIA"
			default n
	endif
endmenu
