menuconfig BLOCK
	bool "block"
	default y
if BLOCK
	config SCSI
		tristate "SCSI"
		default y
	if SCSI
		config BLK_DEV_SD
			tristate "BLK_DEV_SD"
			default y
		config BLK_DEV_SR
			tristate "BLK_DEV_SR"
			default y
		config CHR_DEV_SG
			bool "CHR_DEV_SG"
			default y
		config SCSI_VIRTIO
			tristate "SCSI_VIRTIO"
			default m
			depends on VIRTIO
		config VIRTIO_BLK
			tristate "VIRTIO_BLK"
			default m
			depends on VIRTIO
	endif #SCSI
endif #BLOCK

menu "hardware RANDOM"
	config HW_RANDOM
		tristate "HW_RANDOM"
		default y
	if HW_RANDOM
		config HW_RANDOM_VIRTIO
			tristate "HW_RANDOM_VIRTIO"
			default y
		config HW_RANDOM_INTEL
			tristate "HW_RANDOM_INTEL"
			default n
		config HW_RANDOM_AMD
			tristate "HW_RANDOM_AMD"
			default n
		config HW_RANDOM_VIA
			tristate "HW_RANDOM_VIA"
			default n
	endif
endmenu

menu "Graphics"
	config VGA_ARB
		bool "VGA_ARB"
		default n
	config DRM
		tristate "DRM"
		default y
	config DRM_BOCHS
		tristate "DRM_BOCHS"
		default y
	config DUMMY_CONSOLE_COLUMNS
		int "DUMMY_CONSOLE_COLUMNS"
		default 128
	config DUMMY_CONSOLE_ROWS
		int "DUMMY_CONSOLE_ROWS"
		default 48
endmenu

