
config PCI
	bool "pci"
	default y
if PCI
	config LPC_ICH
		tristate "Intel ICH LPC"
		default y
	config I2C_I801
		tristate "Intel 82801 (ICH/PCH)"
		default y
endif #PCI

config BLOCK
	bool "Enable the BLOCK layer"
	default y

if BLOCK
	menu "disks"
		config ATA
			tristate "ATA"
			default y
			depends on BLOCK
		if ATA
			config SATA_AHCI
				tristate "SATA_AHCI"
				default y
				select SCSI
		endif #ATA
		
		config SCSI
			tristate "SCSI"
			default y
		if SCSI
			config BLK_DEV_SD
				tristate "BLK_DEV_SD"
				default y
			config BLK_DEV_SR
				tristate "BLK_DEV_SR"
				default y
			config CHR_DEV_SG
				bool "CHR_DEV_SG"
				default y
			config SCSI_VIRTIO
				tristate "SCSI_VIRTIO"
				default m
				#depends on VIRTIO
			config VIRTIO_BLK
				tristate "VIRTIO_BLK"
				default m
				#depends on VIRTIO
		endif #SCSI
	endmenu # discs
	
	menu "block FS"

		config EXT2_FS
			tristate "Ext2 support"
			default y
		config EXT4_FS
			tristate "Ext4 support"
			default m
			config EXT4_FS_POSIX_ACL
				bool "Ext4 POSIX Access Control Lists"
				default y
				depends on EXT4_FS

		comment "[ CD-ROM/DVD ]"
		config ISO9660_FS
			tristate "ISO 9660 CDROM file system support"
			default m
		if ISO9660_FS
			config JOLIET
				bool "Microsoft Joliet CDROM extensions"
				default y
				select NLS
			config ZISOFS
				bool "Transparent decompression extension"
				default y
		endif
		config UDF_FS
			tristate "UDF file system support"
			default m
			select NLS

		comment "[ Windows FATs ]"
		config VFAT_FS
			tristate "VFAT (Windows-95) fs support"
			default m
		if VFAT_FS
			config FAT_DEFAULT_IOCHARSET
				string "Default iocharset for FAT"
				default "ascii"
			config FAT_DEFAULT_UTF8
			 bool "Enable FAT UTF-8 option by default"
			 default y
		endif
		config EXFAT_FS
			tristate "exFAT filesystem support"
			default m
			select NLS
	endmenu
endif #BLOCK


menuconfig NETWORK_FILESYSTEMS
	bool "Network File Systems"
	default y
	depends on NET
if NETWORK_FILESYSTEMS
	config CIFS
		tristate "SMB3 and CIFS support (advanced network filesystem)"
		default m
	if CIFS
		config CIFS_XATTR
			bool "CIFS extended attributes"
			default y
		config CIFS_POSIX
			bool "CIFS POSIX Extensions"
			default y
	endif #CIFS
	config 9P_FS
		tristate "Plan 9 Resource Sharing Support (9P2000)"
		default m
		depends on INET && NET_9P
		config 9P_FS_POSIX_ACL
			bool "9P POSIX Access Control Lists"
			default y
			depends on 9P_FS
endif #NETWORK_FILESYSTEMS

menu "FS language support"
	config NLS
		bool "Native language support"
		default y
	if NLS
		config NLS_DEFAULT
			string "Default NLS Option"
			default "untf8"
		config NLS_ASCII
			tristate "ASCII (United States)"
			default m
		config NLS_UTF8
			tristate "NLS UTF-8"
			default m
	endif #NLS
	config UNICODE
		bool "UTF-8 normalization and casefolding support"
		default y
endmenu
	
menu "hardware RANDOM"
	config HW_RANDOM
		tristate "HW_RANDOM"
		default y
	if HW_RANDOM
		config HW_RANDOM_VIRTIO
			tristate "HW_RANDOM_VIRTIO"
			default y
		config HW_RANDOM_INTEL
			tristate "HW_RANDOM_INTEL"
			default n
		config HW_RANDOM_AMD
			tristate "HW_RANDOM_AMD"
			default n
		config HW_RANDOM_VIA
			tristate "HW_RANDOM_VIA"
			default n
	endif
endmenu

menu "Graphics"
	config VGA_ARB
		bool "VGA_ARB"
		default n
	config DRM
		tristate "DRM"
		default y
	config DRM_BOCHS
		tristate "DRM_BOCHS"
		default y
	config DUMMY_CONSOLE_COLUMNS
		int "DUMMY_CONSOLE_COLUMNS"
		default 128
	config DUMMY_CONSOLE_ROWS
		int "DUMMY_CONSOLE_ROWS"
		default 48
endmenu

